MissionPlannerScriptV2/src/config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Configuration">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="Network">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="UdpIpMavlinkMasterDrone"     type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="Ports">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PortRecMavlinkMasterDrone"   type="xs:positiveInteger"/>
              <xs:element name="PortSendMavlinkMasterDrone"  type="xs:positiveInteger"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
